<template>
  <div class="flex flex-col">
    <div class="p-0 md:pl-96">
      <h3 class="text-left text-xl">Спасибище!</h3>
    </div>

    <div class="flex flex-col md:flex-row mt-4 md:mt-20">
      <div class="md:flex-none md:w-96">
        <div class="flex flex-col md:flex-row items-start justify-end md:pr-10">
          <div class="text-3xl md:text-6xl emoji">🥇</div>
        </div>
      </div>
      <div class="flex-grow text-left">
        <h1 class="text-3xl md:text-6xl font-extrabold uppercase">{{ item.title }}</h1>
        <p class="md:mt-3" v-if="item.initiator">благодарность от {{ item.initiator }}</p>

        <div class="flex flex-col md:flex-row overflow-hidden mt-2 md:mt-14 pr-4 md:pr-0 max-h-72 md:max-h-full">
          <div class="flex-none md:w-1/3 md:pr-10">
            <img class="w-max" :src="item.picture">
            <!-- <div class="hidden md:block mt-4 text-xl">На орбите земли уже <strong>ZZZ</strong> месяцев</div> -->
          </div>
          <div class="flex-grow md:leading-8 text-justify" v-html="item.text"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  export default defineComponent({
    components: {},
    name: 'EmployeeItem',
    props: {
      item: {
        type: Object,
        default: function() {
          return {
            id: "1",
            title: "Заголовок",
            initiator: "Иван Иванов",
            text: 'Текст новости',
            picture: "https://www.cosmos-web.ru/img/mainBanner-right.jpg",
          }
        }
      }
    },
    setup: () => {}
  })
</script>

<style lang="scss" scoped>

</style>
