<template>
  <div class="flex flex-col">
    <div class="p-0 md:pl-96">
      <h3 class="text-left text-xl">Ближайшие события</h3>
    </div>

    <div
      v-for="(item, index) in eventList"
      :key="index"
      class="flex flex-col md:flex-row mt-4 md:mt-10 py-0 md:py-6 md:rounded-2xl"
    >
      <div class="md:flex-none md:w-96">
        <div class="flex items-start flex-col md:items-end md:pr-10">
          <div class="text-3xl md:text-6xl font-bold">{{item.pinned ? '📌' : ''}} {{ formatDate('dd', item.date) }}.<span class="font-light">{{ formatDate('MM', item.date) }}</span></div>
          <div class="hidden md:block mt-3">{{ formatDate('cccc', item.date) }}</div>
          <div v-if="formatDate('H', item.date) != '0'">
            {{ formatDate('HH:mm', item.date) }}
            <span v-if="item.dateTo">- {{ formatDate('HH:mm', item.dateTo) }}</span>
            </div>
        </div>
      </div>
      <div class="flex-grow text-left">
        <h1 class="text-3xl md:text-6xl font-extrabold">
          <a v-if="item.url" :href="item.url" class="text-cosmos" target="_blank">{{ item.title }}</a>
          <span v-else>{{ item.title }}</span>
        </h1>
        <p v-if="item.author" class="hidden md:block mt-3">{{ item.author }}</p>
      </div>
      <div v-if="item.url" class="hidden md:block flex-none w-auto dark:bg-cosmos">
        <img class="w-28 h-auto mix-blend-multiply" :src="'https://chart.googleapis.com/chart?cht=qr&chld=M&chs=256x256&chl=' + item.url" alt="">
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref, inject } from 'vue'

  import { formatStamp } from '../../modules/utils/date'

  export default defineComponent({
    components: {},
    name: 'EventList',
    props: {
      eventList: {
        type: Object,
        default: function() {
          return {
            id: 1,
            date: 1630872000,
            dateTo: 1630873800,
            title: "Событие ...",
            author: null,
            url: null,
            pinned: false,
          }
        }
      }
    },
    setup: () => {
      const formatDate = (pattern: string, stamp: any): string => formatStamp(pattern, stamp)

      return { formatDate }
    }
  })
</script>

<style lang="scss" scoped>

</style>
