<template>
  <div class="flex flex-col">
    <div class="flex flex-col md:flex-row mt-4 md:mt-20">
      <div class="flex-grow flex flex-col justify-center items-center">
        <h1 class="text-3xl md:text-6xl font-extrabold uppercase">{{ item.title }} ☝</h1>

        <div class="flex flex-col items-center overflow-hidden mt-2 md:mt-14 pr-4 md:pr-0">
          <img v-if="item.picture" class="w-1/4 mb-10" :src="item.picture">
          <div class="flex-grow text-4xl" v-show="item.text" v-html="item.text"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  import { formatStamp } from '../../modules/utils/date'

  export default defineComponent({
    components: {},
    name: 'InfoItem',
    props: {
      item: {
        type: Object,
        default: function() {
          return {
            id: "1",
            title: "Заголовок",
            text: 'Текст',
            picture: "https://www.cosmos-web.ru/img/mainBanner-right.jpg",
          }
        }
      }
    },
    setup: () => {
      const formatDate = (pattern: string, stamp: any): string => formatStamp(pattern, stamp)

      return { formatDate }
    }
  })
</script>

<style lang="scss" scoped>
</style>
