<template>
  <div class="flex flex-col">
    <div class="p-0 md:pl-96">
      <h3 class="text-left text-xl">Последняя новость</h3>
    </div>

    <div class="flex flex-col md:flex-row mt-4 md:mt-20">
      <div class="md:flex-none md:w-96">
        <div class="flex flex-col md:flex-row items-start justify-end md:pr-10">
          <div class="text-3xl md:text-6xl font-bold">{{ formatDate('dd', item.date) }}.<span class="font-light">{{ formatDate('MM', item.date) }}</span></div>
          <!-- <div class="hidden md:block ml-10 w-14 h-14 bg-red-500 rounded-full'"></div> -->

          <svg v-if="item.department == 'production'"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 62" width="62" height="62" class="hidden md:block ml-10 text-cosmos-production">
            <path class="fill-current" d="M37.69,13.47a10.64,10.64,0,0,0-12.88,0,10.6,10.6,0,0,0,12.88,0Zm-8.56,0a2.13,2.13,0,1,1,2.12,2.12A2.12,2.12,0,0,1,29.13,13.48Z" transform="translate(0 0)"/>
            <polygon class="fill-current" points="22.66 36.3 39.85 36.3 35.9 29.45 26.6 29.45 22.66 36.3"/>
            <polygon class="fill-current" points="17.57 45.13 44.93 45.13 41 38.3 21.5 38.3 17.57 45.13"/>
            <path class="fill-current translate-x-0 translate-y-0" d="M52.92,9.08a31,31,0,0,0-43.84,0,31,31,0,0,0,0,43.84,31,31,0,0,0,43.84,0,31,31,0,0,0,0-43.84ZM14.11,47.13l17-29.49a12.56,12.56,0,0,1-9.22-4.17,12.63,12.63,0,0,1,18.76,0,12.54,12.54,0,0,1-9.22,4.17l17,29.49Z"/>
            <polygon class="fill-current" points="27.75 27.45 34.75 27.45 31.25 21.38 27.75 27.45"/>
          </svg>
          <svg v-if="item.department == 'marketing'"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 63" width="55" height="63" class="hidden md:block ml-10 text-cosmos-marketing">
            <path class="fill-current" d="M53.85,14.9l-1.36-.78-3.88-2.25-7.7,7.66a18.21,18.21,0,1,1-1.45-1.44l7.3-7.3L28.64.3a2.32,2.32,0,0,0-2.28,0L1.15,14.9A2.32,2.32,0,0,0,0,16.9V46.1a2.32,2.32,0,0,0,1.15,2L26.36,62.7a2.32,2.32,0,0,0,2.28,0l5.48-3.18L53.85,48.1a2.32,2.32,0,0,0,1.15-2V16.9A2.32,2.32,0,0,0,53.85,14.9Z" transform="translate(0 0)"/>
            <path class="fill-current" d="M27.5,15.5a16.06,16.06,0,1,0,12,5.44L28,32.41h0l-1.05-1h0L26.54,31,38.05,19.5A15.93,15.93,0,0,0,27.5,15.5Z" transform="translate(0 0)"/>
          </svg>
          <svg v-if="item.department == 'support'"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" width="55" height="55" class="hidden md:block ml-10 text-cosmos-support">
            <polygon class="fill-current" points="12.3 41.8 24.34 33.14 24.34 22.11 12.3 13.45 12.3 41.8"/>
            <polygon class="fill-current" points="26.34 13.45 26.34 21.09 35.43 27.63 26.34 34.16 26.34 41.8 46.05 27.63 26.34 13.45"/>
            <polygon class="fill-current" points="26.34 23.55 26.34 31.7 32 27.63 26.34 23.55"/>
            <path class="fill-current" d="M52.71,0H2.29A2.3,2.3,0,0,0,0,2.29V52.71A2.3,2.3,0,0,0,2.29,55H52.71A2.3,2.3,0,0,0,55,52.71V2.29A2.3,2.3,0,0,0,52.71,0ZM24.34,45.71V35.6l-14,10.11V9.54l14,10.11V9.54L49.47,27.63Z" transform="translate(0 0)"/>
          </svg>

        </div>
      </div>
      <div class="flex-grow text-left">
        <h1 class="text-3xl md:text-6xl font-extrabold uppercase">{{ item.title }}</h1>
        <p class="md:mt-3">{{ item.subtitle }}</p>

        <div class="flex overflow-hidden mt-2 md:mt-14 pr-4 md:pr-0 max-h-72 md:max-h-full">
          <div class="hidden md:block flex-none w-1/3 pr-10">
            <img class="w-max" :src="item.picture">
            <div class="hidden md:block mt-4 text-xl" v-show="item.picture_text" v-html="item.picture_text"></div>
          </div>
          <div class="flex-grow md:leading-8 text-justify" v-show="item.text" v-html="item.text"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  import { formatStamp } from '../../modules/utils/date'

  export default defineComponent({
    components: {},
    name: 'NewsItem',
    props: {
      item: {
        type: Object,
        default: function() {
          return {
            id: "1",
            date: 1600000000,
            department: "production",
            title: "Заголовок",
            subtitle: "Подзаголовок",
            text: 'Текст новости',
            picture: "https://www.cosmos-web.ru/img/mainBanner-right.jpg",
            picture_text: "HTML-описание изображения",
          }
        }
      }
    },
    setup: () => {
      const formatDate = (pattern: string, stamp: any): string => formatStamp(pattern, stamp)

      return { formatDate }
    }
  })
</script>

<style lang="scss" scoped>
</style>
