<template>
  <div class="flex flex-col">
    <div class="p-0 md:pl-96">
      <h3 class="text-left md:text-xl">Важные показатели (сапоги сапожника)</h3>
    </div>

    <div class="flex flex-col md:flex-row mt-4 md:mt-20">
      <div class="md:flex-none md:w-96"></div>
      <div class="flex-grow text-left">
        <h1 class="text-3xl md:text-6xl font-extrabold uppercase"><a href="https://cosmos-web.ru/">cosmos-web.ru</a></h1>
        <p class="md:mt-3">Если у вас идеи как улучшить эти показатели, пишите @koroleva 😊</p>

        <div class="flex overflow-hidden mt-2 md:mt-14 pr-4 md:pr-0 md:max-h-full w-full">
          <apexchart
            class="block w-full h-auto"
            height="300"
            type="area"
            :options="chartOptions"
            :series="chartData"
          ></apexchart>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import VueApexCharts from 'vue3-apexcharts'

  export default defineComponent({
    components: {
      apexchart: VueApexCharts,
    },
    name: 'StatsItem',
    props: {
      data: {
        type: Object,
        default: function() {
          return {
            'yandex': [
              {
                date: 1619000000,
                value: 10,
              },
              {
                date: 1619000100,
                value: 20,
              }
            ],
            'google': [
              {
                date: 1619000100,
                value: 20,
              },
              {
                date: 1619002100,
                value: 25,
              },
            ]
          }
        }
      }
    },
    setup: (props) => {
      const chartOptions = {
        chart: {
          type: 'area',
          stacked: false,
          // height: 350, // Не работает?
          toolbar: false,
          zoom: {
            enabled: false
          },
        },
        markers: {
          size: 0,
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth',
        },
        xaxis: {
          type: 'datetime',
          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
          shared: true,
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.45,
            opacityTo: 0.05,
            stops: [20, 100, 100, 100]
          },
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          offsetX: -10
        }
      }
      const chartData = [{
        name: 'series1',
        data: [31, 40, 28, 51, 42, 109, 100]
      }, {
        name: 'series2',
        data: [11, 32, 45, 32, 34, 52, 41]
      }];

      return { chartOptions, chartData }
    }
  })
</script>

<style lang="scss" scoped>

</style>
