<template>
  <div class="wrap">
    <div className="topBar">
      <div class="inline-flex">
        <span class="hidden md:block">{{ time.dayWeek }} {{ time.day }} {{ time.month }},&nbsp;</span>
        <span>{{ time.hours }}<span class="animate-blink">:</span>{{ time.minutes }}</span>
      </div>
      <div v-if='weatherData.temp !== undefined'>
        <span class="opacity-40">Ощущается как</span>
        {{(weatherData.tempFeels > 0)?'+':''}}{{ weatherData.tempFeels }}&#176;
        <span class="emoji">{{ weatherEmoji(weatherData.text) }}</span>
      </div>
    </div>

    <div class="screen">
      <swiper
      :slides-per-view="1"
      :space-between="0"
      :direction="'vertical'"
      :loop="true"

      :pagination="{ clickable: true, el:'.pagination', bulletActiveClass:'paginaton-active'}"
      :autoplay="{delay: 10000, disableOnInteraction: false}"
      keyboard
      mousewheel

      @swiper="onSwiper"
      @slideChange="onSlideChange"
      @reachEnd="onReachEnd"
      ref="swiperInstance"
      >
        <swiper-slide>
          <EventList :eventList="siteData.events" />
        </swiper-slide>
        <swiper-slide v-for="post in siteData.news" :key="post.id">
          <NewsItem :item="post" />
        </swiper-slide>
        <swiper-slide v-for="birth in siteData.births" :key="birth.id">
          <BirthItem :item="birth" />
        </swiper-slide>
        <swiper-slide v-if="siteData.thanks.length">
          <EmployeeItem v-for="item in siteData.thanks" :key="item.id" :item="item" />
        </swiper-slide>
        <swiper-slide v-if="siteData.info.length">
          <InfoItem v-for="item in siteData.info" :key="item.id" :item="item" />
        </swiper-slide>
        <!-- <swiper-slide v-if="siteData.stats">
          <StatsItem :data="siteData.stats" />
        </swiper-slide> -->
      </swiper>

      <div class="pagination">
        <div class="pagination-active"></div>
      </div>
    </div>

    <div class="bottomBar">
      <div class="flex-1 w-1/2">
        <span class="inline-flex items-center justify-center h-4 w-4 mr-2">
          <span class="animate-ping absolute inline-flex h-4 w-4 rounded-full bg-red-400 opacity-75"></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
        </span>
        Сейчас на сайте: {{ onlineCount }}
      </div>
      <div class="flex-1 w-1/2">
        <div class="truncate" v-if='lastChatMessage.author && lastChatMessage.msg'>
          <strong>#general</strong>: @{{ lastChatMessage.author }}: {{ lastChatMessage.msg }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ref, reactive, defineComponent, inject } from 'vue'

import EventList from './layouts/EventList.vue'
import NewsItem from './layouts/NewsItem.vue'
import InfoItem from './layouts/InfoItem.vue'
import BirthItem from './layouts/BirthItem.vue'
import EmployeeItem from './layouts/EmployeeItem.vue'
import StatsItem from './layouts/StatsItem.vue'

import SwiperCore, { Pagination, Autoplay, Mousewheel, Keyboard } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
SwiperCore.use([Pagination, Autoplay, Mousewheel, Keyboard])
import 'swiper/swiper.scss'
import 'swiper/components/pagination/pagination.scss'

// import { format } from 'date-fns'
import { formatStamp } from '../modules/utils/date'

export default defineComponent({
  components: {
    Swiper,
    SwiperSlide,
    EventList,
    NewsItem,
    InfoItem,
    BirthItem,
    EmployeeItem,
    StatsItem,
  },
  name: 'Screen',
  props: {
    msg: {
      type: String,
    }
  },
  setup: () => {
    // Sockets
    const socket: any = inject('socket')

    // Данные инфоборда для отрисовки
    const siteData = reactive({
      events: [],
      news: [],
      births: [],
      thanks: [],
      info: [],
      stats: [],
      lastMessage: {}
    })

    socket
      .on('update:all', (res: any) => {
        console.log('update:all', res) // test
        siteData.events = res.events
        siteData.news = res.news
        siteData.births = res.births
        siteData.thanks = res.thanks
        siteData.info = res.info
        siteData.stats = res.stats
      })
      .on('update:events', (res: any) => {
        console.log('update:events', res) // test
        siteData.events = res
      })
      .on('update:news', (res: any) => {
        console.log('update:news', res) // test
        siteData.news = res
      })
      .on('update:births', (res: any) => {
        console.log('update:births', res) // test
        siteData.births = res
      })
      .on('update:thanks', (res: any) => {
        console.log('update:thanks', res) // test
        siteData.thanks = res
      })
      .on('update:info', (res: any) => {
        console.log('update:info', res) // test
        siteData.info = res
      })
      .on('update:stats', (res: any) => {
        console.log('update:stats', res) // test
        siteData.stats = res
      })

    const onlineCount: any = inject('onlineCount')
    const lastChatMessage: any = inject('lastChatMessage')

    // Время
    const time = ref({ hours: '00', minutes: '00', dayWeek: 'пн', day: '01', month: 'янв' })
    setInterval(() => {
      const date = new Date()
      time.value = {
        hours: formatStamp('HH'),
        minutes: formatStamp('mm'),
        dayWeek: formatStamp('cccccc'),
        day: formatStamp('dd'),
        month: formatStamp('MMMM'),
      }
    }, 1000)

    // Вывод/обновление погоды
    const weatherData = reactive({
      temp: 0,
      tempFeels: 0,
      wind: 0,
      text: 'Пасмурно',
    })

    const weatherEmoji = (text: string) => {
      switch (text) {
        case 'Пасмурно': return '☁'
        case 'Переменная облачность': return '⛅'
        case 'Солнечно': return '☀'
        case 'Дождь': return '🌧'
        case 'Небольшой дождь': return '🌧️'
        case 'Туман': return '🌫'
        case 'Снег': return '🌨'
        case 'Небольшой снег': return '🌨️'
        default: return '❔'
      }
    }

    socket
      .on('weather', (res: any) => {
        console.log('weather come', res.data)
        weatherData.temp = Math.round(res.data.current.temp_c)
        weatherData.tempFeels = Math.round(res.data.current.feelslike_c)
        weatherData.wind = res.data.current.wind_kph
        weatherData.text = res.data.current.condition.text
      })


    // Расчитывание высоты устройтва внутри по высоте браузера
    const appHeight = () => document.documentElement.style.setProperty('--app-height', `${window.innerHeight}px`)
    window.addEventListener('resize', appHeight)
    appHeight()

    // События слайдеров
    const onSwiper = (swiper: any) => console.log('slider init')
    const onSlideChange = () => console.log('slide change')
    const onReachEnd = () => console.log('slider reached')


    return {
      siteData,
      onlineCount,
      lastChatMessage,

      time,
      weatherData,
      weatherEmoji,

      onSwiper,
      onSlideChange,
      onReachEnd
    }
  }
})
</script>

<style lang="scss">
.swiper-pagination-bullet {
  @apply w-2 h-2 mb-3 opacity-20 transition-all duration-200 rounded-md bg-gray-800 dark:bg-gray-100;
}
.paginaton-active {
  display: block;
  background-color: black;
  @apply opacity-100 md:w-6 bg-gray-900 dark:bg-white;
}

.emoji {
  font-weight: 400;
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}
</style>
<style lang="scss" scoped>
:root {
  --app-height: 100%;
}
.wrap {
  height: var(--app-height);

  @apply
    flex flex-col w-screen
    text-base md:text-lg
    bg-white text-gray-900
    dark:bg-gray-800 dark:text-white;

  .topBar {
    @apply
      flex-none h-16 p-6 flex flex-row items-center justify-between
      bg-gray-100 dark:bg-gray-900;
  }

  .screen {
    @apply
      overflow-hidden relative flex-grow flex-col items-center text-center
      px-6 py-8
      lg:px-36 lg:py-16
      cursor-default;

    // Slider
    .pagination {
      right: 0;
      top: 0;
      position: absolute;

      @apply absolute right-0 h-full w-10 flex flex-col items-end mr-4 justify-center;
    }
  }

  .bottomBar {
    @apply
      flex-none h-16 p-6 flex items-center justify-end
      bg-gray-100 dark:bg-gray-900;
  }
}


// Default Vue stypes
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
</style>
