<template lang='pug'>
Screen
</template>

<script lang="ts">
import { io } from 'socket.io-client'

import { defineComponent, ref, provide, reactive } from 'vue'
import Screen from './components/Screen.vue'

export default defineComponent({
  name: 'App',
  components: {
    Screen
  },
  setup: () => {
    const socket = reactive(io(`${import.meta.env.VITE_API_ADDR}`, { transports: ['websocket', 'polling'] }))
    let online = ref(0)
    let lastChatMessage = ref({
      author: '',
      msg: '',
    })

    socket
      .on("connect", () => {
        console.info('connected', socket.id, socket.connected)
      })
      .on("online", (data: any) => {
        online.value = data.count
      })
      .on("disconnect", (reason: any) => {
        console.warn('disconnect', reason)
      })
      .on("lastMessage", (data: any) => {
        lastChatMessage.value = data
        console.log('lastMessage', data)
      })

    setInterval(() => {
      const start = Date.now()
      socket.emit("ping", () => {
        console.log(`pong (latency: ${Date.now() - start} ms)`)
      })
    }, 1000)

    provide('socket', socket)
    provide('onlineCount', online)
    provide('lastChatMessage', lastChatMessage)

    return {  }
  }
})
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;1000&display=swap');

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
